body {
    font-family: Arial, sans-serif;
    /* font-family: 'Comic Sans MS', cursive, sans-serif; */
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    /* margin-right: 20em; */
header {
    background-color: #c93b3b;
    color: white;
    /* padding: 0.2em 0; */
    text-align: center;
    width: 100%;
    /* position: left; */
}
h3{
    margin-left: 4%;
}
.indented {
    margin-left: 4%; /* Adjust the value as needed */
}
main {
    /* display: flex; */
    /* flex-wrap: wrap; */
    padding: 2em;
    margin-right: 20%;
    /* margin-left: 5%; */
    /* text-align: justify;  */
}
section {
    margin-bottom: 2em;
}
h2 {
    color: #333;
}
.course_schedule table {
    padding: 0px;
}

.course_schedule th, a {
color: #8C1515;
}

.pseudolink {
color: #8C1515;
}

.course_schedule a {
font-weight: normal;
}

.course_schedule th, td {
text-align: left;
padding: 10px;
width: 14%;
border-bottom: 1px solid #ddd;
}

.course_schedule tr:nth-child(odd) td:hover {
background-color: #e6cdcd;
}

.course_schedule tr:nth-child(even) {
color: #7f1313;
background-color: #efeded;
}
}